<h2>Total fee:</h2>
<?php echo $payment; ?>
<h4>Payment Method</h4>
<div>                    
<label for="cashdelivery"><input type="radio" id="cashdelivery" name="optionsRadios"> Cash on Delivery </label>
<label for="paypal"><input type="radio" id="paypal" name="optionsRadios" checked> Via Paypal </label>
<img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"> 
<br>   
<?php                                
    echo $this->Html->link('Place Order', array('action'=>'pay'));   ?>
</div>